@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --primary-color: #e82574;
    --primary-color-dark: #bc1c5c;
    --text-dark: #0c0a09;
    --text-light: #78716c;
    --white: #ffffff;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section_container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section_subheader {
    margin-bottom: 0.5rem;
    position: relative;
    font-weight: 500;
    letter-spacing: 2px;
    color: var(--text-dark);
}

.section_subheader::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translate(1rem, -50%);
    height: 2px;
    width: 4rem;
    background-color: var(--primary-color);
}

.section_subheader {
    max-width: 600px;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;
    color: var(--text-dark);
}

.section_description {
    max-width: 600px;
    margin-bottom: 1rem;
    color: var(--text-light);
}

.btn {
    padding: .75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--primary-color-dark);
}

a {
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

.header {
    background-image: url(assets/home.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

nav {
    position: fixed;
    isolation: isolate;
    top: 0;
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    z-index: 9;
}

.nav_bar {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: var(--primary-color);
}

.logo a {
    color: var(--white);
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
}

.nav_menu_btn {
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}

.nav_links {
    list-style: none;
    position: absolute;
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: rgba(188, 28, 92, 0.9);
    transform: translateY(-100%);
    transition: .5s;
    z-index: -1;
}

.nav_links.open {
    transform: translateY(0);
}

.nav_links a {
    position: relative;
    isolation: isolate;
    padding-bottom: 8px;
    color: var(--white);
    transition: 0.3s;
}

.nav_btn {
    display: none;
}

.header_container {
    padding-block: 10rem 15rem;
}

.header_container p {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: var(--white);
    text-align: center;
    opacity: 0.6;
}

.header_container h1 {
    font-size: 4rem;
    font-weight: 500;
    line-height: 4.5rem;
    color: var(--white);
    align-items: center;
    text-align: center;
}

.header_container h1 span {
    color: var(--primary-color);
}

.booking_container {
    padding-block: 0;
}

.booking_form {
    padding: 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--white);
    border-radius: 10px;
    transform: translateY(-50%);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.input_group {
    flex: 1 1 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.input_group span {
    font-size: 1.75rem;
    color: var(--primary-color);
}

.input_group label {
    font-weight: 500;
    color: var(--text-dark);
}

.input_group input {
    display: block;
    width: 100%;
    max-width: 150px;
    padding-block: 5px;
    color: var(--text-dark);
    font-size: 0.9rem;
    outline: none;
    border: none;
}

.input_group input::placeholder {
    color: var(--text-light);
}

.about_content .section_subheader {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

.about_content h2 {
    margin-bottom: 1rem;
}

.about_container {
    overflow: hidden;
    display: grid;
    gap: 2rem;
}

.about_image img {
    width: 100%;
    margin: auto;
    border-radius: 5px;

}

.room_container .section_subheader {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

.room_container img {
    width: 100%;
}

.room_grid {
    margin-top: 3rem;
    display: grid;
    gap: 1rem;
}

.room_card {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.room_card_image {
    position: relative;
    isolation: isolate;
}

.room_card_icons {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 1rem;
    z-index: 1;
}

.room_card_icons span {
    display: inline-block;
    padding: 2px 8px;
    font-size: 1.5rem;
    background-color: var(--white);
    border-radius: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.room_card_icons span:nth-child(1) {
    color: #f472b6;
}

.room_card_icons span:nth-child(2) {
    color: #c084fc;
}

.room_card_icons span:nth-child(3) {
    color: #60a5fa;
}

.room_card_details {
    padding: 1rem;
}

.room_card h4 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-dark);
}

.room_card p {
    color: var(--text-light);
    margin-bottom: 0.5rem;
}

.room_card h5 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-light);
}

.room_card h5 span {
    font-size: 1.1rem;
    color: var(--text-dark);
}

.service .section_subheader {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

.service {
    background-image: url(assets/service.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.service_container {
    padding-block: 0;
    display: grid;

    grid-template-columns: repeat(2, 1fr);
}

.service_content {
    grid-column: 1/3;
    padding: 2rem 4rem;
    background-color: var(--white);
}

.service_list {
    list-style: none;
    margin-top: 2rem;
    display: grid;
    gap: 2rem;
}

.service_list li {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-dark);
}

.service_list li {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-dark);
}

.service_list span {
    padding: 5px 12px;
    font-size: 1.75rem;
    color: var(--text-dark);
    background-color: var(--text-light);
    border-radius: 100%;
}

.service_list li:nth-child(1) span {
    color: #60a5fa;
    background-color: #fcecec;
}

.service_list li:nth-child(2) span {
    color: #f472b6;
    background-color: #fcecec;
}

.service_list li:nth-child(3) span {
    color: #c084fc;
    background-color: #fcecec;
}

.service_list li:nth-child(4) span {
    color: darkturquoise;
    background-color: #fcecec;
}

.banner_content {
    padding: 2rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.banner_card {
    text-align: center;
    flex: 1 1 180px;
}

.banner_card h4 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.banner_card p {
    color: var(--text-light);
}

.explore .section_subheader {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

.explore :is(.section_subheader, .section_header){
    text-align: center;
    margin-inline: auto;
}

.explore_bg{
    margin-top: 4rem;
    padding-block: 3rem;
    display: grid;
    grid-template-columns: 
    minmax(1rem, 1fr)
    minmax(0, var(--max-width))
    minmax(1rem , 1fr);
    background-image: url(assets/explore-2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.explore_content{
    grid-column: 2/3;
    max-width: 400px;
    padding: 2rem;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.explore_content p {
    margin-bottom: 0.5rem;
}

.explore_content h4{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: var(--text-dark);
}

.explore_content .btn{
    color: var(--primary-color);
    background-color: var(--white);
    border: 2px solid var(--primary-color);
}

.explore_content .btn:hover{
    color: var(--white);
    background-color: var(--primary-color);
}

.footer {
  background-color: var(--text-dark);
}

.footer_container {
  display: grid;
  gap: 4rem 2rem;
}

.footer_col .section_description {
  margin-block: 2rem;
}

.footer_col h4 {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--white);
}

.footer_links {
  list-style: none;
  display: grid;
  gap: 1rem;
}

.footer_links a {
  color: var(--text-light);
  transition: 0.3s;
}

.footer_links a:hover {
  color: var(--white);
}

.footer_socials {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.footer_socials img {
  max-width: 25px;
  opacity: 0.8;
  transition: 0.3s;
}

.footer_socials img:hover {
  opacity: 1;
}

.footer_bar {
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--text-light);
  text-align: center;
}


@media(width > 708px) {
    .about_image img {
        width: 100%;
        margin: auto;
        border-radius: 5px;
    }

    .about_container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

}

@media(width > 576px) {
    .room_grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer_container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width > 900px) {

    nav {
        padding: 0 2rem;
        position: static;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .nav_bar {
        padding: 0;
        background-color: transparent;
        display: flex;
        align-items: center;
        flex-shrink: 0;
    }

    .logo a {
        color: var(--primary-color);
        white-space: nowrap;
        font-size: 30px;
    }

    .nav_bar i {
        display: none;
    }

    .nav_links {
        padding: 2rem;
        width: auto;
        position: static;
        transform: none;
        flex-direction: row;
        background-color: transparent;
        display: flex;
        align-items: center;
        gap: 2rem;
        flex: 1;
        justify-content: center;

    }

    .nav_links a {
        color: var(--white);
        white-space: nowrap;
    }

    .nav_btn {
        display: block;
        flex-shrink: 0;
        border: var(--primary-color) 1px solid;
        white-space: nowrap;
    }

    .nav_btn:hover {
        color: var(--primary-color);
        background-color: var(--white);
    }

    .nav_links a::after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        height: 2px;
        width: 0;
        background-color: var(--primary-color);
        transition: 0.3s;
    }

    .nav_links a:hover::after {
        width: 100%;
    }

    .about_container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .about_image img {
        max-width: 100%;
        margin: auto;
        border-radius: 5px;
    }

    .room_grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .service_content {
        grid-column: 2/3;
    }

     .footer_container{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(width> 1024px) {
    .room_grid {
        gap: 2rem;
    }
}